@font-face {
	font-family: "edgeicons";
	src: url("../fonts/edge-icons-Regular.eot");
	src: url("../fonts/edge-icons-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/edge-icons-Regular.woff") format("woff"), url("../fonts/edge-icons-Regular.ttf") format("truetype")
}
.Icon {
	background: transparent;
	display: inline-block;
	font-style: normal;
	vertical-align: baseline;
	position: relative
}

.Icon:after,
.Icon:before {
	display: block;
	font-family: "edgeicons";
	font-weight: normal;
	font-style: normal;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.Icon-smallest {
	font-size: 12px;
	line-height: 12px
}

.Icon-sm {
	font-size: 16px;
	line-height: 15px
}

.Icon-med {
	font-size: 18px;
	line-height: 18px
}

.Icon-lg {
	font-size: 21px;
	line-height: 1
}

.Icon-exlg {
	font-size: 32px;
	line-height: 1
}

.Icon-add:before {
	content: "\f183"
}

.Icon-add-light:before {
	content: "\f198"
}

.Icon-analytics:before {
	content: "\f200"
}

.Icon-arrowDown:before {
	content: "\f174"
}

.Icon-arrowLeft:before {
	content: "\f114";
	-ms-transform: scaleX(-1);
	transform: scaleX(-1)
}

.Icon-arrow-up:before {
	content: "\f188"
}

.Icon-at-symbol:before {
	content: "\f050"
}

.Icon-attach-file:before {
	content: "\f088"
}

.Icon--audio-badge:before {
	content: "\f311"
}

.Icon-mute:before {
	content: "\f306"
}

.Icon-unmute:before {
	content: "\f305"
}

.Icon-balloon:before {
	content: "\f092"
}

.Icon-bird:before {
	content: "\f179"
}

.Icon-bookmark:before {
	content: "\f155"
}

.Icon-calendar:before {
	content: "\f203"
}

.Icon-camera:before {
	content: "\f027"
}

.Icon-camera-plus:before {
	content: "\f111"
}

.Icon-video:before {
	content: "\f030"
}

.Icon-cards:before {
	content: "\f402"
}

.Icon-caret-down:before {
	content: "\f181"
}

.Icon-caret-down-light:before {
	content: "\f196"
}

.Icon-caret-left:before {
	content: "\f172"
}

.Icon--caret-left-light:before {
	content: "\f193"
}

.Icon-caret-right:before {
	content: "\f173"
}

.Icon-caret-right-light:before {
	content: "\f194"
}

.Icon-caret-up:before {
	content: "\f181";
	-ms-transform: scaleY(-1);
	transform: scaleY(-1)
}

.Icon-caret-up-light:before {
	content: "\f195"
}

.Icon-cart:before {
	content: "\f095"
}

.Icon-check:before {
	content: "\f170"
}

.Icon-check-light:before {
	content: "\f197"
}

.Icon-chevron-down:before {
	content: "\f202"
}

.Icon-chevron-up:before {
	content: "\f201"
}

.Icon-circle-active-analytics:before {
	content: "\f516"
}

.Icon-circle-active-bird:before {
	content: "\f520"
}

.Icon-circle-active-dm:before {
	content: "\f517"
}

.Icon-circle-active-heart:before {
	content: "\f514"
}

.Icon-circle-active-list:before {
	content: "\f518"
}

.Icon-circle-active-me:before {
	content: "\f519"
}

.Icon-circle-active-more:before {
	content: "\f515"
}

.Icon-circle-active-retweet:before {
	content: "\f512"
}

.Icon-circle-active-star:before {
	content: "\f513"
}

.Icon-circle-error:before {
	content: "\f042"
}

.Icon-circle-me:before {
	content: "\f519"
}

.Icon-circle-reply:before {
	content: "\f511"
}

.Icon-clock:before {
	content: "\f177"
}

.Icon-close:before {
	content: "\f045"
}

.Icon-cog:before {
	content: "\f059"
}

.Icon-cog-caret:before {
	content: "\f124"
}

.Icon-collapse-tweets:before {
	content: "\f051"
}

.Icon-collections:before {
	content: "\f008"
}

.Icon-conversation:before {
	content: "\f157"
}

.Icon-cover:before {
	content: "\f163"
}

.Icon-create-moment:before {
	content: "\f162"
}

.Icon-credit-card:before {
	content: "\f401"
}

.Icon-crescent:before {
	content: "\f066"
}

.Icon-crescent-filled:before {
	content: "\f567"
}

.Icon-crop:before {
	content: "\f190"
}

.Icon-cvv:before {
	content: "\f402"
}

.Icon-delete:before {
	content: "\f154"
}

.Icon-Bell:before {
	content: "\f090"
}

.Icon-desktop:before {
	content: "\f087"
}

.Icon-device:before {
	content: "\f085"
}

.Icon-discover:before {
	content: "\f052"
}

.Icon-dm:before {
	content: "\f054"
}

.Icon-dm-compose:before {
	content: "\f035"
}

.Icon-dots:before {
	content: "\f150"
}

.Icon-dots-vertical:before {
	content: "\f149"
}

.Icon-download:before {
	content: "\f185"
}

.Icon-editPencil:before {
	content: "\f112"
}

.Icon-envelope:before {
	content: "\f187"
}

.Icon-fail:before {
	content: "\f000"
}

.Icon-filter:before {
	content: "\f138"
}

.Icon-follow:before {
	content: "\f175"
}

.Icon-follower:before {
	content: "\f002"
}

.Icon-following:before {
	content: "\f176"
}

.Icon-geo:before {
	content: "\f031"
}

.Icon-geo-badge:before {
	content: "\f010"
}

.Icon-gif:before {
	content: "\f028"
}

.Icon-gif-badge:before {
	content: "\f309"
}

.Icon-grid:before {
	content: "\f046"
}

.Icon-handset:before {
	content: "\f091"
}

.Icon-heart:before {
	content: "\f148"
}

.Icon-heart-badge:before {
	content: "\f015"
}

.Icon-home:before {
	content: "\f053"
}

.Icon-home-failled:before {
	content: "\f553"
}

.Icon-horizontal-bar-chart:before {
	content: "\f048"
}

.Icon-info:before {
	content: "\f209"
}

.Icon-crop:before {
	content: "\f158"
}

.Icon-lifeline:before {
	content: "\f026"
}

.Icon-lifeline-badge:before {
	content: "\f000"
}

.Icon-lightning:before {
	content: "\f160"
}

.Icon-lightning-badge:before {
	content: "\f161"
}

.Icon-lightning-filled:before {
	content: "\f017"
}

.Icon-list:before {
	content: "\f094"
}

.Icon-list-badge:before {
	content: "\f012"
}

.Icon-logo:before {
	content: "\f179"
}

.Icon-magicrecs:before {
	content: "\f014"
}

.Icon-all-read:before {
	content: "\f036"
}

.Icon-me:before {
	content: "\f056"
}

.Icon-me-filled:before {
	content: "\f002"
}

.Icon-media:before {
	content: "\f109"
}

.Icon-media-collapse:before {
	content: "\f335"
}

.Icon-media-docking:before {
	content: "\f336"
}

.Icon-media-expand:before {
	content: "\f334"
}

.Icon-menu:before {
	content: "\f093"
}

.Icon-message:before {
	content: "\f054"
}

.Icon-moderator:before {
	content: "\f089"
}

.Icon-muted:before {
	content: "\f101"
}

.Icon-news-badge:before {
	content: "\f009"
}

.Icon-notifi:before {
	content: "\f055"
}

.Icon-notifi-filled:before {
	content: "\f019"
}

.Icon-notifi-disabled:before {
	content: "\f037"
}

.Icon-pause:before {
	content: "\f302"
}

.Icon-periscope-badge:before {
	content: "\f320"
}

.Icon-person:before {
	content: "\f056"
}

.Icon-people:before {
	content: "\f178"
}

.Icon-photo:before {
	content: "\f158"
}

.Icon-pinned:before {
	content: "\f003"
}

.Icon-play:before {
	content: "\f301"
}

.Icon-poll:before {
	content: "\f034"
}

.Icon-poll-bar:before {
	content: "\f199"
}

.Icon-promoted:before {
	content: "\f004"
}

.Icon-promoted-stroked:before {
	content: "\f504"
}

.Icon-promoted-trend:before {
	content: "\f011"
}

.Icon-promote-mode:before {
	content: "\f409"
}

.Icon-protected:before {
	content: "\f096"
}

.Icon-refresh:before {
	content: "\f189"
}

.Icon-reply:before {
	content: "\f151"
}

.Icon-report:before {
	content: "\e609"
}

.Icon-retweet:before {
	content: "\f152"
}

.Icon-retweeted:before {
	content: "\f006"
}

.Icon-search:before {
	content: "\f058"
}

.Icon-share:before {
	content: "\f185"
}

.Icon-smile-rating1:before {
	content: "\f430"
}

.Icon-smile-rating1-fill:before {
	content: "\f431"
}

.Icon-smile-rating2:before {
	content: "\f432"
}

.Icon-smile-rating2-fill:before {
	content: "\f433"
}

.Icon-smile-rating3:before {
	content: "\f434"
}

.Icon-smile-rating3-Fill:before {
	content: "\f435"
}

.Icon-smile-rating4:before {
	content: "\f436"
}

.Icon-smile-rating4-fill:before {
	content: "\f437"
}

.Icon-smile-rating5:before {
	content: "\f438"
}

.Icon-smile-rating5-fill:before {
	content: "\f439"
}

.Icon-smiley:before {
	content: "\f033"
}

.Icon-snap-reel-badge:before {
	content: "\f312"
}

.Icon-sound-off:before {
	content: "\f306"
}

.Icon-sound-on:before {
	content: "\f305"
}

.Icon-sticker-badge:before {
	content: "\f047"
}

.Icon-summary:before {
	content: "\f156"
}

.Icon-tablet:before {
	content: "\f086"
}

.Icon-top:before {
	content: "\f007"
}

.Icon-translator:before {
	content: "\f089"
}

.Icon-truck:before {
	content: "\f400"
}

.Icon-tweet:before {
	content: "\f029"
}

.Icon-unfollow:before {
	content: "\f097"
}

.Icon-unmuted:before {
	content: "\f101"
}

.Icon-url:before {
	content: "\f098"
}

.Icon-vine-badge:before {
	content: "\f310"
}

.Icon-visibility-followers:before {
	content: "\f103"
}

.Icon-visibility-following:before {
	content: "\f105"
}

.Icon-visibility-mutual:before {
	content: "\f104"
}

.Icon-visibility-onlyme:before {
	content: "\f106"
}

.Icon-visibility-public:before {
	content: "\f102"
}

.Icon-warning:before {
	content: "\f182"
}

.Icon-laptop:before {
	content: "\f084"
}

.Icon-verified:before {
	content: "\f099";
}

.Icon-play:before {
	content: "\f040";
}

.Icon-white {
	color: #fff
}
